<% provide(:Title, "Sign in") %>
<h1>Sign in</h1>

<table>
  <%= form_for(:session, url: sessions_path) do |f| %>
    <% if flash[:error] %>
    <div id="error_explanation">
      Error!
      <ul>
        <li><%= flash[:error] %></li>
      </ul>
    </div>
    <% end %>
    <% if flash[:notice] %>
      <div id="notice">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
  <tr>
    <th><%= f.label :username %></th>
    <td><%= f.text_field :username %></td>
  </tr>

  <tr>
    <th><%= f.label :password %></th>
    <td><%= f.password_field :password %></td>
  </tr>

  <tr>
    <th></th>
    <td><%= f.submit "Sign in" %></td>
  </tr>

  <% end %>
</table>

<p>Don't have an account? <%= link_to "Register now!", signup_path %></p>
