<h1>BELIEFS</h1>

<h3>Trending Beliefs</h3>

<p id="notice"><%= notice %></p>

<table>
<% @beliefs.each do |belief| %>
  <tr>
    <th><%= belief.description %></th>
    <td><%= belief.total_believers %> believer(s)</td>
    <td><%= link_to 'AGREE', add_believer_path(:id => belief.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Belief', new_belief_path %>
