<!DOCTYPE html>
<html>
<head>
  <title>Beliefs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", :media => "all" %>
</head>
<body>

<div class="container">

<div class="page-header">
<h1 class="brand"><%= link_to "BELIEFS", root_path %> <small class="tagline"> What do you believe in?</small></h1>

<table>
    <ul class="nav">
      <li><%= link_to "Home", root_path %></li>

    <% if signed_in? %>
      <li><%= link_to 'New Belief', new_belief_path %></li>
    <% end %>

    <% if signed_in? %>
      <!-- TODO search for other users? -->
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Sign out", signout_path, method: "delete"%></li>
    <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <li><%= link_to "Register", signup_path %></li>
    <% end %>
    </ul>

</table>
</div>
  <%= yield %>

<!--
  <%= debug(params) if Rails.env.development? %>
-->

  <div>
    <%= render 'layouts/footer' %>
  </div>

</div>

</body>
</html>
